# dependencies
node_modules/

# environment variables
.env
.env.local
.env.production.local
.env.development.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build
dist/
build/
.vite/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Vercel
.vercel